<div class="article">
	<% if (page['side-image']) { %>
		<%- image_tag(page['side-image'], { class: 'side-image' }) %>
	<% } %>

	<div class='main'>
		<h1 class="title">
			<%- page.title %>
		</h1>

		<div class="content markdown">
			<%- page.content %>
		</div>
	</div>
</div>

