<div id="top" style="display: block;">
	<div class="bar" style="width: 0;"></div>
	<a class="icon-home image-icon" href="javascript:;"></a>
	<h3 class="subtitle"><%- page.title %></h3>
	<div class="social">
		<div>
			<div class="share">
				<a title="获取二维码" class="icon-scan" href="javascript:;"></a>
			</div>
			<div id="qr"></div>
		</div>
	</div>
	<div class="scrollbar"></div>
</div>
