<% var first = site.posts.sort("date", "desc").eq(0); %>
<div id="screen">
	<div id="mark">
		<div class="layer" data-depth="0.4">
			<%- image_tag(theme.welcome_cover || first.cover || "/img/welcome-cover.jpg", {id: "cover", crossorigin: "anonymous", width: 1920, height: 1080}) %>
		</div>
	</div>
	<div id="vibrant">
		<svg viewBox="0 0 2880 1620" height="100%" preserveAspectRatio="xMaxYMax slice">
			<polygon opacity="0.35" points="2000,1620 0,1620 0,0 600,0 "/>
		</svg>
		<div></div>
	</div>
	<div id="header">
		<div>
			<div class="icon-menu switchmenu"></div>
		</div>
	</div>
	<% if ( first ) { %>
	<div id="post0">
		<h2><%- link_to(url_for(first.path), first.title || config.title, {class: "posttitle"}) %></h2>
		<p class="summary"><%- truncate(strip_html(first.content), {length: 60, omission: '...'}) %></p>
	</div>
	<% } %>
</div>
